/* Record.css */
.button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .article-and-buttons {
    margin-top: 20px; /* 이미지 입력하세요와 버튼 사이의 간격 */
  }
  .output-box {
    border: 1px solid #000; /* 검은색 테두리 */
    padding: 10px;         /* 내부 여백 */
    margin: 20px 0;        /* 위아래 여백 */
    width: 300px;          /* 상자의 너비 */
    height: 100px;         /* 상자의 높이 */
    overflow: auto;        /* 내용이 넘칠 때 스크롤바 표시 */
    background-color: #f9f9f9; /* 상자의 배경색 */
  }